@charset "utf-8";

html{
    font-family:arial;
    font-size:62.5%;
    font-weight:400;
    line-height:1.25;
}
html,body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
input,button{
    margin:0;
    min-height:40px;
    min-width:40px;
    background:#fff;
    border:1px solid #ccc;
    font-size:1.4rem;
}
input{
    text-align: right;
    padding:0 1rem;
}
button{
    height:100%;
    outline:none;
    transition:all 0.2s;
}
button:hover{
    background:#010101;
    color:#fff;
}

.calculator{
    display: grid;
	grid-template-columns: repeat(4,1fr);
    gap:0.5rem;
}
.screenContainer{
    grid-column:1/5;
}
.zero{
    grid-column:1/span 2;
}
.result{
    grid-column:4;
    grid-row:3 / span 2;
}
.reset{
    grid-column:4;
    grid-row: 5/7;
}