@charset "utf-8";
html{
    font-family:arial;
    font-size:62.5%;
    font-weight:400;
    line-height:1.25;
}
html,body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
input,button{
    /* display: inline-block; */
    margin:0;
    padding:0;
    min-height:40px;
    min-width:40px;
    background:#fff;
    border:1px solid #ccc;
    font-size:1.4rem;
}
input{
    width:100%;
}
button{
    height:100%;
}

.calculator{
    display: grid;
	grid-template-columns: repeat(4,1fr);
    gap:0.5rem;

}
.calculator .screen{
    grid-column:1/5;

}
.btnzZero{
    grid-column:4/5;
    width:100%;
}
.btnResult{
    grid-row: 3/7;
}
.calculator .btn{
}